.formcenter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px 40px;
   width: 100%;
   max-width: 300px;
   
}
.forminput{
    padding: 10px;
    width: 100%;
    max-width: 270px;
    border-radius: 10px 20px;
    
  
}
.forminput:hover{
    background-color: #f0f0f0;
}
.formbutton{
    padding: 8px 14px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px 40px;
    cursor: pointer;
  background-color:orangered;
  border-color: orangered;
margin-top: 20px;
  height: 3rem;
  font-size: 1rem;
}
.formlink{
    text-decoration: none;
    color: black;
}
.formp{
    cursor: pointer;
}
.formotp{
    text-align: center;
    justify-content: space-between;
    margin-left: 1.7rem;
   margin-top: 20px;
    padding:center;
    align-items: center;
    width: 2rem;
   height: 3rem;
   border-radius: 8px;
background-color: transparent;
}
.error{
    color: red;
}
.formicons{
    display: flex;
    justify-content: end;
    margin-top: -30px;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}